@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#root {
    margin: 0 auto;
    padding: 20px;
    max-width: 1000px;
}
.toggleWrapper {
    position: relative;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 20px;
}
h3 {
    text-shadow: -5px 5px 5px grey;
}
.toggleWrapper label {
    font-size: larger;
    padding: 8px 20px 5px 10px;
    background-color: #efefef;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0 2px 2px gray;
    transition: .2s;
    cursor: pointer;
}
.toggleWrapper label:hover {
    box-shadow: 0 2px 5px gray;
}
.toggleWrapper label:active {
    box-shadow: 0 0 1px gray;
}
.lightOff{
    position: absolute;
    top: 6px;
    right: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ff0606;
    box-shadow: 0 0 1px 2px #ff2424;
    transition: .3s;
}
.lightOn{
    background-color: greenyellow;
    box-shadow: 0 0 1px 2px greenyellow;
}
#toggle {
   display: none;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
form input{
    min-width: 250px;
    width: 50%;
    outline: none;
    padding: 5px 10px;
    font-size: 24px;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    transition: .3s;
    box-shadow: inset 0 0 5px blue;
}
form input:focus {
    box-shadow: inset 0 0 8px blue;
}
form input:read-only {
    box-shadow: inset 0 0 5px red;
}
form button {
    padding: 5px 12px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 3px grey;
    cursor: pointer;
    transition: .2s;
}
form button:active {
    box-shadow: 0 0 2px grey, inset 0 0 15px grey;
}
.tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 250px;
    width: 80%;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: inset 0 0 5px black;
}
.tagBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
    background-color: #1f70ff;
    max-height: 20px;
    border-radius: 5px;
    margin: 10px;
    transition: .3s;
}
.tagBox span {
    color: white;
    margin-right: 10px;
    font-size: 18px;
}
.tagBox button {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: larger;
    transition: ease-in .2s;
}
.tagBox button:hover{
    transition: 1.5s;
    transform: scale(1.2) rotate(720deg);
    color: red;
    cursor: pointer;
}
.tagBox button:disabled {
    display: none;
}

@media (max-width: 450px) {
    form {
        flex-wrap: wrap;
    }
    form button {
        margin-top: 10px;
    }
}